.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item {
  display: flex;
}

.cart img {
  width: 200px;
  height: 225px;
}
/* let us implement that functionality */
/* alright now what do i do,  */
